* {
    padding: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: auto;
    width: 100%;
    display: flex;
    align-items: baseline;
    background-color: #023047;
    justify-content: space-between;
    text-align: center;
    align-items: baseline;

}
.homeContentC{
    display: flex;


}


.logo {
    max-width: 150px;  /* limita o tamanho */
    height: auto;      /* mantém a proporção */
    margin: 5px;
}

.homeLogon{
    display: flex;
    align-items: center;
    gap: 7px;

}

.homeLogon span{
    border-radius: 10px; 
    background-color: aqua;
}