<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>






 <!-- Post + New Post -->

<div class="container">
    <main class="feed">
        <div class="post-creator">
          <textarea placeholder="O que você está pensando?"></textarea>
          <button class="post-button">Postar</button>
        </div>

        <div class="posts" id="posts">
          <!-- Posts serão inseridos aqui via JavaScript -->
        </div>
      </main>
</div>

<script src="script.js"></script>
</body>
</html>