<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Prestador de Serviço</title>
  <link rel="stylesheet" href="../CSS/prestServ.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
  <header>
    <div class="menu-icon">&#9776;</div>
    <div class="perfil">
      <i class="fa-solid fa-circle-user"></i>
      <span>José Carlos</span>
      <span class="seta">▼</span>
    </div>
    <div class="logo">
      <img src="../misc/logo.png">
    </div>

  </header>
  <main> 
    <div class="main">
      <div class="card">
        <h3>SERVIÇOS PRESTADOS</h3>
        <div class="row">
          <input type="text" placeholder="Serviço" />
          <input type="text" placeholder="Descrição rápida" />
          <input type="text" placeholder="Valor" />
          <div class="edit-icon">✎</div>
        </div>
        <div class="row">
          <input type="text" placeholder="Serviço" />
          <input type="text" placeholder="Descrição rápida" />
          <input type="text" placeholder="Valor" />
          <div class="edit-icon">✎</div>
        </div>
        <div class="row">
          <input type="text" placeholder="Serviço" />
          <input type="text" placeholder="Descrição rápida" />
          <input type="text" placeholder="Valor" />
          <div class="edit-icon">✎</div>
        </div>
        <div class="add-service">Adicionar serviços ➕</div>
      </div>
  
      <div class="card">
        <h3>SUA LOCALIZAÇÃO:</h3>
        <div class="row">
          <input type="text" placeholder="Cidade" />
          <input type="text" placeholder="UF" class="small-input"/>
        </div>
        <div class="row">
          <input type="text" placeholder="Área de atendimento ao cliente" />
          <input type="text" placeholder="Raio de atendimento" />
        </div>
      </div>
    </div>

  </main>

</body>
</html>
